src/main/mule/transferdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="31de7677-52bf-4906-b7d2-b59fd89f4101" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="transferdemoFlow" doc:id="154cc4b3-f59a-4f65-9f16-0450f4951043" >
		<http:listener doc:name="Listener" doc:id="35bc7f99-274f-4558-86ff-39496a1df45a" config-ref="HTTP_Listener_config" path="/transform"/>
		<ee:transform doc:name="Transform Message" doc:id="184175b6-d823-4a21-a40f-9336297ee6d4" >
			<ee:message >
				<ee:set-payload resource="productxml.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="productName.dwl" variableName="productName" />
				<ee:set-variable resource="brand.dwl" variableName="brandName" />
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c9058d10-446e-4918-a11f-f7cbd1865649" message="#[payload]"/>
	</flow>
</mule>
